.nav > ul > li {
    list-style: none;
    font-size: 1.2rem;
    padding: 20px;
}

.nav > ul > li > a {
    color: darkorchid;
}

.main {
    margin-top: 77.6px;
}

.main > h2 {
    margin: 20px;
    font-weight: 700;
}

.main > h2, h4 {
    text-align: center;
}

h4 {
    font-size: 1.2rem;
}

.links {
    display: inline-block;
}

.icons {
    height: 30px;
}

.icons:hover {
    opacity: .75;
}

.social {
    margin: 10px;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.container > h2 {
    font-size: 32;
    margin-top: 40px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 60px;
}

p {
    font-size: 18px;
}

footer {
    font-size: 12px;
    color: darkgrey;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.animate{
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes fade {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0px);}
}